

/*******************************************/
/************* HOVER EFFECT ****************/
/*******************************************/

/* HOVER EFFECT TO BE OPTIMIZED AFTER JS CHAPTER */


.thumbnail-img {
    margin-top: 100px;
    width: 300px;
    height: 220px;
    display: inline-block;
    border-radius: 10px;
}

#signup {
    background: url("imgs/signup1.png");
}

#signup:hover {
    background: url("imgs/signup-hover.png");
}

#login {
    background: url("imgs/login1.png");
}

#login:hover {
    background: url("imgs/login-hover.png");
}

#cc {
    background: url("imgs/cc1.png");
}

#cc:hover {
    background: url("imgs/cc-hover.png");
}

#schedule {
    background: url("imgs/schedule1.png");
}

#schedule:hover {
    background: url("imgs/schedule-hover.png");
}

#question {
    background: url("imgs/question1.png");
}

#question:hover {
    background: url("imgs/question-hover.png");
}

#search {
    background: url("imgs/search1.png");
}

#search:hover {
    background: url("imgs/search-hover.png");
}

#shipping {
    background: url("imgs/shipping1.png");
}

#shipping:hover {
    background: url("imgs/shipping-hover.png");
}

#slider {
    background: url("imgs/slider1.png");
}

#slider:hover {
    background: url("imgs/slider-hover.png");
}