html {
    width: 100%;
}

body {
    width: 90%;
    max-width: 800px;
    /height: 800px;
    margin: 10px auto;
    color: #133D69;
    border: 5px solid #2C5C8E;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
}

h2 {
    background: url("imgs/blue_header_img.jpg");
    background-size: cover;
    height: 50px;
    box-shadow: 0 2px 5px #686E92;
    margin-top: 0;
    line-height: 50px;
    padding-left: 20px;
}

form {
    display: block;
    width: 90%;
    margin: 10px auto;
}

fieldset {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0em;
    border-radius: 5px;
    box-shadow: 0 2px 5px #686E92;
    margin-bottom: 20px;
    background-color: #F0F8FF;
}

.cred-option {
    display: block;
    line-height: 50px;
    height: 50px;
    padding: 5px 10px;
    border-bottom: 1px solid #c0c0c0;


}

.cred-option input {
    display: inline-block;
    margin: 0 10px;
}

.cred-option img {
    margin-right: 50px;
    vertical-align: middle;
}

.cred-type {
    display: inline-block;

}

span {
    display: inline-block;
    width: 20%;
    float: left;
}

.credit {
    padding: 10px;
}

.input-fields {
    width: 75%;
    float: right;
    margin: 10px 0;
}

.input-fields input {
    display: block;
    width: 60%;
    border: 1px solid #c0c0c0;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

.input-fields label {
    display: inline-block;
    margin: 5px 0 0 3px;
    font-size: 15px;
}

.expiration label {
    display: block;
}

.cvv-img {
    position: relative;
}

#cvv {
    width: 25%;
}

.hide {
    display: none;
    position: absolute;
    right: 100px;
    bottom: -15px;
}

.cvv-img:hover .hide {
    display: block;
}

button {
    display: block;
    margin: 20px auto;
    border: none;
    outline: none;
    background-color: #F7A41E;
    padding: 10px;
    width: 180px;
    border-radius: 0 50px 50px 0;
    box-shadow: 2px 2px 3px #9C6205;
}

button:hover {
    box-shadow: inset 2px 2px 3px #9C6205;
}


@media only screen and (max-width: 740px) {
    .cred-option, .cred-type {
        height: auto;
    }

    .cred-type {
        margin-left: 2%;
    }

    .hide {
        display: none;
        position: absolute;
        right: 20px;
        bottom: -10px;
    }

}

@media only screen and (max-width: 640px) {
    body {
        min-width: 490px;
    }
    .cred-option, .cred-type {
        height: auto;
    }

    .cred-type {
        margin-left: 30px;
    }

    .hide {
        display: none;
        position: absolute;
        right: -10px;
        bottom: 0;
        width: 180px;
        height: 100px;
    }

}
